* {
	background-image: none;
	box-shadow: none;
	font-weight: 900;
	font-family: "JetBrainsMono Nerd Font";
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: black;
	background-color: #dfe6e0;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-radius: 10px;
	margin: 16px;
	transition: all 150ms;
}

/* button:focus, button:active, button:hover {
	outline-style: none;
} */

button:nth-child(1):hover, button:nth-child(1):focus {
	background-color: #80aebc;
}

button:nth-child(2):hover, button:nth-child(2):focus {
	background-color: #e6c54c;
}

button:nth-child(3):hover, button:nth-child(3):focus {
	background-color: #b63c46;
}

#lock {
    background-image: image(url("/home/feyli/.dotfiles/images/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/feyli/.dotfiles/images/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/feyli/.dotfiles/images/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/feyli/.dotfiles/images/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/feyli/.dotfiles/images/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
	/* filter: invert(1); */
}

#reboot {
    background-image: image(url("/home/feyli/.dotfiles/images/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
